error-handler-common-library/src/main/mule/error-handler/error-default.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule  xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="ErrorHandlerDefault" doc:id="41b30ea8-6c38-4999-9672-121cb0ff5537" >
		<logger level="DEBUG" doc:name="Debug Logger" doc:id="49a9b6d4-af6b-47bd-aed3-9b20aecc68a0" message="In ErrorHandlerDefault"/>
		<choice doc:name="Override Default Error Handler?" doc:id="c90bec94-5207-4840-b387-ee22763f8fb7" >
			<when expression="#[vars.errorsOverrideDefault == true]">
				<logger level="DEBUG" doc:name="Override Message" doc:id="021c7121-bcd7-4d55-8077-ff7038e50b88" message="Override Default Error Handler" />
				<flow-ref doc:name="Call custom Default error handler" doc:id="475fa4b4-4240-46ba-86cd-488a362956c2" name="#[vars.customDefaultErrorHandler]"/>
			</when>
			<otherwise>
				<ee:transform doc:name="Set error variables" doc:id="3aebd688-7916-4fb4-b6fe-3fcb6a314aad">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
Mule::p('errors.response.DEFAULT.' ++ (vars.errorIdentifier default 'DEFAULT')) as String]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Extend Standard Default Error Handler?" doc:id="40db151c-1b18-4566-b431-84fd59bc54ee" >
					<when expression="#[vars.errorsExtendDefault == true]">
						<logger level="DEBUG" doc:name="Extend Message" doc:id="fbec119a-e037-4396-aede-dae671cf09ed" message="Extend Default Error Handler" />
						<flow-ref doc:name="Invoke extension" doc:id="36c56df5-aa07-45e7-bb62-544ab748f9ee" name="#[vars.extendDefaultErrorHandler]"/>
						<email:send doc:name="Send" doc:id="b2b444b7-a2a2-43f0-b06f-144af4b95045" config-ref="Email_SMTP_Common_Error_Handler" fromAddress="#[vars.emailFromAdd]" subject="#[vars.errorErrorSubject]" toAddresses="#[vars.emailToAdd]" ccAddresses="#[vars.emailCCAdd]" >
							<email:body contentType="text/plain" encoding="UTF-8" />
							<email:attachments ><![CDATA[#[vars.emailAttachments]]]></email:attachments>
						</email:send>
					</when>
					<otherwise >
						<ee:transform doc:name="Set Error Object" doc:id="186d4b03-8faf-4d7b-ab29-35bcdfd8cd31">
							<ee:message>
								<ee:set-payload><![CDATA[output application/json
---
{
	Error: {
		"ErrorIdentifier": vars.errorNamespace as String default 'MULE' ++ ':' ++ vars.errorIdentifier as String default 'UNKNOWN',
		"TimeStamp": now(),
		"Message": payload,
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="DEBUG" doc:name="Debug Logger" doc:id="69045763-5fe2-411f-85ed-a7ec3e001217" message="#[payload]"/>
						<email:send doc:name="Send" doc:id="d1020d0a-3644-4508-9296-04ef4843e3d8" config-ref="Email_SMTP_Common_Error_Handler" fromAddress="#[vars.emailFromAdd]" subject="#[vars.errorErrorSubject]" toAddresses="#[vars.emailToAdd]" ccAddresses="#[vars.emailCCAdd]" >
							<email:body contentType="text/plain" encoding="UTF-8" />
							<email:attachments ><![CDATA[#[vars.emailAttachments]]]></email:attachments>
						</email:send>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
</mule>
