error-handler-common-library/src/main/mule/error-handler/error-salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="ErrorHandlerSalesforce" doc:id="d3eba069-ea34-4821-a461-777c69b87d32" >
		<logger level="DEBUG" doc:name="Debug Logger" doc:id="b6007b5e-5b67-494e-b66b-24388382d2c6" message="In ErrorHandlerSalesforce"/>
		<choice doc:name="Override Standard Salesforce Error Handler?" doc:id="d0a6cdef-a229-4291-adda-e18c24bae27c" >
			<when expression="#[vars.errorsOverrideSalesforce == true]">
				<logger level="DEBUG" doc:name="Override Message" doc:id="2f7e294f-1675-46db-9154-3031baf3fc03" message="Override Salesforce Error Handler" />
				<flow-ref doc:name="Call custom Salesforce error handler" doc:id="1a9fb232-b68a-4e2d-a520-606947aab1d6" name="#[vars.customSalesforceErrorHandler]" />
			</when>
			<otherwise>
				<ee:transform doc:name="Set error variables" doc:id="6b508dea-6d93-4f65-93c7-a20219c336d8">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
Mule::p('errors.response.SALESFORCE.' ++ (vars.errorIdentifier default 'DEFAULT')) as String]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Extend Standard Salesforce Error Handler?" doc:id="e17f6e6e-3e48-4419-b6be-9425197b2c09" >
					<when expression="#[vars.errorsExtendSalesforce == true]">
						<logger level="DEBUG" doc:name="Extend Message" doc:id="8fd541ba-1bb4-4948-b860-62d21f8241b9" message="Extend Salesforce Error Handler" />
						<flow-ref doc:name="Invoke extension" doc:id="8f12845a-772f-464d-a430-eb48900ce715" name="#[vars.extendSalesforceErrorHandler]"/>
						<email:send doc:name="Send" doc:id="1982734e-a297-4361-ab5c-274566c06dae" config-ref="Email_SMTP_Common_Error_Handler" fromAddress="#[vars.emailFromAdd]" subject="#[vars.errorErrorSubject]" toAddresses="#[vars.emailToAdd]" ccAddresses="#[vars.emailCCAdd]" >
							<email:body contentType="text/plain" encoding="UTF-8" />
							<email:attachments ><![CDATA[#[vars.emailAttachments]]]></email:attachments>
						</email:send>
					</when>
					<otherwise >
						<ee:transform doc:name="Set Error Object" doc:id="ab9fa50f-65a3-47b4-8d07-d7dfa4fb9721">
							<ee:message>
								<ee:set-payload><![CDATA[output application/json
---
{
	Error: {
		"ErrorIdentifier": vars.errorNamespace as String default 'MULE' ++ ':' ++ vars.errorIdentifier as String default 'UNKNOWN',
		"TimeStamp": now(),
		"Message": payload,
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="DEBUG" doc:name="Debug Logger" doc:id="09989736-d61c-48e9-9e5d-7290e6fecc33" message="#[payload]"/>
						<email:send doc:name="Send" doc:id="83f089a8-0358-4c51-a1ab-368c16af5375" config-ref="Email_SMTP_Common_Error_Handler" fromAddress="#[vars.emailFromAdd]" subject="#[vars.errorErrorSubject]" toAddresses="#[vars.emailToAdd]" ccAddresses="#[vars.emailCCAdd]" >
							<email:body contentType="text/plain" encoding="UTF-8" />
							<email:attachments ><![CDATA[#[vars.emailAttachments]]]></email:attachments>
						</email:send>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
</mule>
