error-handler-common-library/src/main/mule/error-handler/error-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="ErrorHandlerDB" doc:id="41b30ea8-6c38-4999-9672-121cb0ff5537" >
		<logger level="DEBUG" doc:name="Debug Logger" doc:id="45e96caa-28a4-42ce-8820-8852e3d9e4de" message="In ErrorHandlerDB" />
		<choice doc:name="Override DB Error Handler?" doc:id="c90bec94-5207-4840-b387-ee22763f8fb7" >
			<when expression="#[vars.errorsOverrideDB == true]">
				<logger level="DEBUG" doc:name="Override Message" doc:id="90057868-039b-4fd8-b9af-4ac350e3261d" message="Override Default DB Error Handler" />
				<flow-ref doc:name="Call custom DB error handler" doc:id="d59d045d-b868-4c8b-83c2-543e8ad4a7bd" name="#[vars.customDBErrorHandler]"/>
			</when>
			<otherwise>
				<ee:transform doc:name="Set error variables" doc:id="3aebd688-7916-4fb4-b6fe-3fcb6a314aad">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
Mule::p('errors.response.DB.' ++ (vars.errorIdentifier default 'DEFAULT')) as String]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Extend Standard DB Error Handler?" doc:id="40db151c-1b18-4566-b431-84fd59bc54ee" >
					<when expression="#[vars.errorsExtendDB == true]">
						<logger level="DEBUG" doc:name="Extend Message" doc:id="c9941cb6-6aab-496d-8019-2d623e538c46" message="Extend Default DB Error Handler" />
						<flow-ref doc:name="Invoke extension" doc:id="796dc3dc-4446-4632-bc5a-dbe9515553ce" name="#[vars.extendDBErrorHandler]"/>
						<email:send doc:name="Send" doc:id="41d0c4a6-b0e7-49d7-9a89-7668cc30124f" config-ref="Email_SMTP_Common_Error_Handler" fromAddress="#[vars.emailFromAdd]" subject="#[vars.errorErrorSubject]" toAddresses="#[vars.emailToAdd]" ccAddresses="#[vars.emailCCAdd]" >
							<email:body contentType="text/plain" encoding="UTF-8" />
							<email:attachments ><![CDATA[#[vars.emailAttachments]]]></email:attachments>
						</email:send>
					</when>
					<otherwise >
						<ee:transform doc:name="Set Error Object" doc:id="beeffafe-f6f7-4e99-b51b-6401b37d66dd">
							<ee:message>
								<ee:set-payload><![CDATA[output application/json
---
{
	Error: {
		"ErrorIdentifier": vars.errorNamespace as String default 'MULE' ++ ':' ++ vars.errorIdentifier as String default 'UNKNOWN',
		"TimeStamp": now(),
		"Message": payload,
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="DEBUG" doc:name="Debug Logger" doc:id="9fea714e-d052-4eeb-b879-8bbb59ea7322" message="#[payload]" />
						<email:send doc:name="Send" doc:id="4339aab5-d36f-44e7-a09b-94905d6e0097" config-ref="Email_SMTP_Common_Error_Handler" fromAddress="#[vars.emailFromAdd]" subject="#[vars.errorErrorSubject]" toAddresses="#[vars.emailToAdd]" ccAddresses="#[vars.emailCCAdd]" >
							<email:body contentType="text/plain" encoding="UTF-8" />
							<email:attachments ><![CDATA[#[vars.emailAttachments]]]></email:attachments>
						</email:send>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
</mule>
